 
 header{
    background-color: rgb(21, 124, 242);
    text-align: center;
    height: 500px;
  }

  .contenuto1{
    border-style: groove;
    border: 5px;
    border-color: red;
  }

  main{
    background-color: rgb(179, 187, 195);
    text-align: center;
    height: 2000px;

  }

  article{
    background-color: bisque;
    text-align: center;
    height: 400px;
  }

  nav{
    background-color: rgb(243, 248, 246);
    text-align: center;
    height: 500px;
  }

  footer{
    background-color: rgb(71, 67, 67);
    text-align: center;
    height: 500px;
  }
  